<!DOCTYPE html>
<html>
  <head>
    <title>Deployd Dashboard</title>
    <% if (typeof compile !== 'undefined') { %>
        <link rel='stylesheet' type="text/css" href='stylesheets/style.css' />
    <% } else { %>
        <link rel='stylesheet/less' type="text/css" href='stylesheets/style.less' />
        <script type="text/javascript" src="js/dev/less.js"></script>
    <% } %>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="header" class="subnav clearfix"></div>

    <div id="resources-container">
    </div>
    <div id="body-container" class="container-fluid hide">
      <div class="row-fluid">
        <div class="span2">
          <ul class="nav nav-stacked type-icons" id="resource-sidebar">
          </ul>
        </div>
        <div class="span10" id="body">
        </div>
      </div>
    </div>

    <div class="modal" id="authModal" style="display: none">
    </div>

    <%- template('header') %>

    <%- template('auth-modal') %>

    <%- template('resources') %>
    <%- template('collection') %>
    <%- template('static') %>
    <%- template('file') %>
    <%- template('file-editor') %>
    
    <%- template('resource-types') %>
    <%- template('resource-sidebar') %>
    <%- template('resource') %>

    <%- template('collection-routes') %>
    <%- template('collection-data') %>

    <%- template('property-list') %>
    <%- template('property-reference') %>
    <%- template('property') %>
    <%- template('events') %>

    <script type="text/javascript" src="js/lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.plugins.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/underscore.string.min.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="js/lib/knockout.mapping.js"></script>
    <script type="text/javascript" src="js/lib/ace-noconflict.js"></script>
    <script type="text/javascript" src="js/lib/ace-mode-javascript-noconflict.js"></script>
    <script type="text/javascript" src="js/lib/ace-mode-css-noconflict.js"></script>
    <script type="text/javascript" src="js/lib/ace-mode-html-noconflict.js"></script>

    <script src="js/lib/require.js" data-main="js/app/entry.js"></script>
  </body>
</html>