<!DOCTYPE html>
<html>
  <head>
    <title>Deployd Dashboard</title>
    <!-- <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link rel='stylesheet/less' type="text/css" href='/stylesheets/style.less' />
    <script type="text/javascript" src="/js/lib/less.js"></script>
  </head>
  <body>

    <div id="header" class="clearfix"></div>

    <div id="body"></div>

    <%- template('header') %>

    <%- template('resources') %>
    <%- template('collection') %>
    
    <%- template('resource-sidebar') %>
    <%- template('resource') %>

    <%- template('property-sidebar') %>
    <%- template('property') %>

    <%- template('model-table') %>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/js/lib/underscore.string.min.js"></script>
    <script type="text/javascript" src="/js/lib/backbone.js"></script>
    <script src="/browserify.js"></script>
  </body>
</html>