<!DOCTYPE html>
<html>
	<head>
		<title><%= appName %> - Dashboard</title>
		<!-- <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
		<link rel='stylesheet/less' type="text/css" href='/stylesheets/style.less' />
		<script type="text/javascript" src="/js/lib/less.js"></script>
	</head>
	<body>

		<div id="header" class="clearfix">
			<h1><a href="/dashboard"><%= appName %> - Dashboard</a></h1>
			<% if (locals.resourceName) { %>
				<h2><a href="/dashboard<%= resourceName %>"><%= resourceName %> <span class="type">(<%= resourceType %>)</span></a></h2>
			<% } %>
		</div>
		<%- body %>

		<%- template('resource-sidebar') %>
		<%- template('resource') %>

		<%- template('property-sidebar') %>
		<%- template('property') %>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
		<script type="text/javascript" src="/js/lib/underscore.js"></script>
		<script type="text/javascript" src="/js/lib/underscore.string.min.js"></script>
		<script type="text/javascript" src="/js/lib/backbone.js"></script>
		<script src="/browserify.js"></script>
	</body>
</html>