<h3>API</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Method</th>
      <th>Route</th>
      <th>Accepts</th>
      <th>Returns</th>
    </tr>
    <tbody>
      <tr>
        <td><a href="http://deployd.github.com/deployd/#Listing-data" target="_blank">Listing data</a></td>
        <td>GET</td>
        <td><a href="<%- path %>" target="_blank"><%- path %></a></td>
        <td><em>Nothing</em></td>
        <td>An array of objects</td>
      </tr>
      <tr>
        <td><a href="http://deployd.github.com/deployd/#Saving-data" target="_blank">Creating an object</a></td>
        <td>POST</td>
        <td><%- path %></td>
        <td>A single object</td>
        <td>The saved object (or errors)</td>
      </tr>
      <tr>
        <td><a href="http://deployd.github.com/deployd/#Retrieving-a-specific-object" target="_blank">Getting an object</a></td>
        <td>GET</td>
        <td><%- path %>/&lt;_id&gt;</td>
        <td><em>Nothing</em></td>
        <td>A single object</td>
      </tr>
      <tr>
        <td><a href="http://deployd.github.com/deployd/#Updating-an-object" target="_blank">Updating an object</a></td>
        <td>PUT</td>
        <td><%- path %>/&lt;_id&gt;</td>
        <td>A single object</td>
        <td>The saved object (or errors)</td>
      </tr>
      <tr>
        <td><a href="http://deployd.github.com/deployd/#Deleting-an-object" target="_blank">Deleting an object</a></td>
        <td>DELETE</td>
        <td><%- path %>/&lt;_id&gt;</td>
        <td>A single object</td>
        <td><em>Nothing</em></td>
      </tr>
      <% if (type === 'UserCollection') { %>
        <tr>
          <td><a href="http://deployd.github.com/deployd/#Authenticating-a-user" target="_blank">Logging in</a></td>
          <td>POST</td>
          <td><%- path %>/login</td>
          <td><code>email</code> and <code>password</code> of user</td>
          <td>The user, plus session cookie (or error)</td>
        </tr>
        <tr>
          <td><a href="http://deployd.github.com/deployd/#Logging-out" target="_blank">Logging out</a></td>
          <td>POST</td>
          <td><%- path %>/logout</td>
          <td><em>Nothing</em></td>
          <td><em>Nothing</em></td>
        </tr>
        <tr>
          <td><a href="http://deployd.github.com/deployd/#Current-user" target="_blank">Getting the current user</a></td>
          <td>GET</td>
          <td><a href="<%- path %>/me" target="_blank"><%- path %>/me</a></td>
          <td><em>Nothing</em></td>
          <td>A single object</td>
        </tr>
      <% } %>
    </tbody>
  </thead>
</table>