<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="code">_id</th>
      <% if (resourceType == "UserCollection") { %>
        <th class="code">email</th>
        <th class="code">password</th>
      <% } %>
      <% _.each(properties, function(property) { %>
        <th class="code"><%- property.name %></th>
      <% }); %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collectionModel.each(function(rowModel) { if (!rowModel.get('c_delete')) { %>
      <% var row = rowModel.toJSON(); %>
      <tr data-cid="<%= rowModel.cid %>">
        <td>
          <%- row._id || '...' %>
        </td>
        <% if (resourceType == "UserCollection") { %>
          <td>
            <% if (row.c_active) { %>
              <input type="text" name="email" value="<%- row.email || '' %>" />
            <% } else { %>
              <%- row.email || '...' %></td>
            <% } %>
          </td>
          <td>
            <% if (row.c_active) { %>
              <input type="password" name="password" placeholder="*******" />
            <% } else { %>
              ...
            <% } %>
          </td>
        <% } %>
        <% _.each(properties, function(property) { %>
          <% var val = row[property.name]; %>
          <% if (typeof val === 'undefined') { val = row[property.$renameFrom]; } %>
          <td>
            <% if (row.c_active) { %>
              <% if (typeof val === 'undefined') { val = '' } %>
              <input type="text" name="<%- property.name %>" value="<%- val %>" />
            <% } else { %>
              <% if (typeof val === 'undefined') { val = '...' } %>
              <%- val %>
            <% } %>
          </td>
        <% }); %>
        <td>
          <% if (row.c_active) { %>
            <a href="#" class="done-btn">done</a>
          <% } else { %>
            <a href="#" class="edit-btn">edit</a>
          <% } %>
          <a href="#" class="delete-btn">delete</a>
        </td>
      </tr>
    <% }}); %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="<%= properties.length + (resourceType == "UserCollection" ? 4 : 2) %>"><button class="btn add-btn pull-right">Add</a></td>
    </tr>
  </tfoot>
</table>