<li>
  <a href="#">
    <i class="icon-align-justify"></i>&nbsp;
    Resources
  </a>
</li>
<li <%= app.files ? 'class="active"' : '' %>>
  <a href="#files">
    <i class="<%= app.files ? 'icon-white' : 'icon-hack' %> static"></i>&nbsp;
    Files
  </a>
</li>
<% collection.each(function(resourceModel) { var resource = resourceModel.toJSON(); %>
  <li class="<%= resource._id === app.resourceId ? 'active' : '' %>" >
    <a href="#<%= resource._id %>">
      <i class="<%= resource._id === app.resourceId ? 'icon-white' : 'icon-hack' %> <%- resource.type.toLowerCase() %>"></i>&nbsp;
      <%- resource.path %>
    </a>
    <% if (resource._id === app.resourceId && (resource.type === 'Collection' || resource.type === 'UserCollection')) { %>
      <ul class="nav">
        <li class="active"><a href="#properties" data-toggle="tab">Properties</a></li>
        <li><a href="#data" data-toggle="tab">Data</a></li>
        <li><a href="#api" data-toggle="tab">API</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li> 
      </ul>
    <% } %>
  </li>
<% }); %>